
body { 
    text-align: center;
    font-size: 25px;
    font-family: 'Raleway', sans-serif;

}

.container { 
    color :rgb(170, 46, 25);

    margin-top: 100px;
    
    justify-content: center;
    display: grid;
    grid-template-rows: 120px 120px 120px;
    grid-template-columns: 120px 120px 120px;
}
.place { 
    height: 100px; 
    width: 100px;
    font-size: 60px;
    padding: 10px;
    border: white 5px solid;
    background-color: lightgray;

}

button { 
    margin-top: 100px;
}
h1 { 
    font-size: 40px;
    color : crimson; 
    text-align: center;
    font-weight: bold;


}

h2 { 
    font-size: 20px;
    color : crimson; 
    text-align: center;
    font-weight: bold;

}
h3 { 
    font-size: 20px;
    color : crimson;
    text-align: center;
    font-weight: bold;
}
.XPlay { 
    background-color: indianred;
    color : white; 
}

.OPlay { 
    background-color:palevioletred;
    color : white; 
}

button {
    border-radius: 5px;
    padding: 5px;
    margin: 50px ;
    text-align: center;
    background-color: crimson;
    font-size: 13px;
    color: #fff;
}