
body { 
    text-align: center;
}

.container { 
    color :rgb(170, 46, 25);

    margin-top: 100px;
    
    justify-content: center;
    display: grid;
    grid-template-rows: 100px 100px 100px;
    grid-template-columns: 100px 100px 100px;
}
.place { 
    height: 100px; 
    width: 100px;
    border: 1px crimson solid ;
    background-color: blanchedalmond;

}

button { 
    margin-top: 100px;
}

h3 { 

    color : darkgoldenrod; 
    text-align: center;
    font-weight: bold;
    font-size: 20px ;
}